{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Mi Aplicación{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h2>Bienvenido a Mi Aplicación</h2>
        </div>
        <div class="card-body">
          <a href="{% url 'ingresar_localidades' %}" class="btn btn-primary">Ingresar Localidades</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}