{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Ingreso de Localidades</h1>

<form method="post" id="formulario-localidad">
  {% csrf_token %}
  <section>
    <!-- Select para mostrar los países guardados -->
    <select name="pais_select" id="pais_select">
      <option value="">Selecciona un País</option>
      {% for pais in paises %}
      <option value="{{ pais.id }}" data-codigo="{{ pais.codigo_telefonico_pais }}">{{ pais.nombre_pais }}</option>
      {% endfor %}
    </select>

    <p>Código telefónico del país: <span id="codigo-telefonico"></span></p>
    <!-- Formulario para ingresar el país -->
    <div>
      <label for="nombre_pais">Nombre del País:</label>
      <input type="text" id="nombre_pais" name="nombre_pais" placeholder="O ingrese un nuevo País" required>
    </div>

    <div>
      <label for="codigo_telefonico_pais">Código Telefónico: <span></span></label>
      <input type="text" id="codigo_telefonico_pais" name="codigo_telefonico_pais"
        placeholder="Ingrese el código telefónico del país" required>
    </div>
  </section>
  <button onclick="guardarPais(event)">Guardar País</button>
  <hr>
</form>
<script>  var paisListUrl = "{% url 'pais-list' %}"; </script>
<script src="{% static 'js/localidades/formatearFormulario.js' %}" defer></script>
<script src="{% static 'js/localidades/gestionLocalidades.js' %}" defer></script>

{% endblock %}